<?xml version="1.0" encoding="UTF-8"?>
<application>
  <name>{{ app_config.app_name | string | e }}</name>
  <environment>{{ app_config.environment | string | e }}</environment>
  <server>
    <host>{{ app_config.server_host | string | e }}</host>
    <port>{{ app_config.server_port }}</port>
  </server>
  <database>
    <engine>{{ app_config.db_engine | string | e }}</engine>
    <host>{{ app_config.db_host | string | e }}</host>
    <port>{{ app_config.db_port }}</port>
  </database>
</application>
